<!-- /<section class="search-section">
    <div class="container">
        <div class="search-warp">
            <div class="section-title text-white">
                <h2 class="text-center">Search your course</h2>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                  
                    <form class="course-search-form">
                        <input type="text" placeholder="Course">
                        <input type="text" class="last-m" placeholder="Category">
                        <button class="site-btn">Search Couse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section id="content-section-5">
    <div class="set-bg" data-bgspeed="0 ">
        <div class="container">
            <div class="gdlr-item-title-wrapper gdlr-item pos-center ">
                <div class="gdlr-item-title-head">
                    <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">Search For Courses</h3>
                    <div class="clear"></div>
                </div>
                <div class="gdlr-item-title-divider"></div>
                <div class="gdlr-item-title-caption gdlr-skin-info">Fill keywords to seek for courses</div>
            </div>
            <div class="course-search-wrapper">
                <form class="gdlr-lms-form" action="https://demo.goodlayers.com/clevercourse/">
                    <div class="course-search-column gdlr-lms-1">
                        <span class="gdlr-lms-combobox">
                            <select name="course_category">
                                <option value="">Category</option>
                                <option value="app">App</option>
                                <option value="cook">Cook</option>
                                <option value="illustration">illustration</option>
                                <option value="improving">Improving</option>
                                <option value="motivate">Motivate</option>
                                <option value="online-course">Online Course</option>
                                <option value="onsite-course">Onsite Course</option>
                                <option value="photography">Photography</option>
                                <option value="social-media">Social Media</option>
                                <option value="speaking">Speaking</option>
                                <option value="start-up">Start Up</option>
                                <option value="website">Website</option>
                            </select>
                        </span>
                    </div>
                    <div class="course-search-column gdlr-lms-2">
                        <span class="gdlr-lms-combobox">
                            <select name="course_type" id="gender">
                                <option value="">Type</option>
                                <option value="online">Online Course</option>
                                <option value="onsite">Onsite Course</option>
                            </select>
                        </span>
                    </div>
                    <div class="course-search-column gdlr-lms-3">
                        <input type="text" name="s" id="s" autocomplete="off" placeholder="Keywords">
                    </div>
                    <div class="course-search-column gdlr-lms-4">
                        <input type="hidden" name="post_type" value="course">
                        <input class="gdlr-lms-button" type="submit" value="Search!">
                    </div>
                    <div class="clear"></div>
                </form>