 <header class="header-section " >
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="site-logo">
          <h2>Web<span >Courses</span></h2><span style="color: white;">Lorem, ipsum dolor.</span>
        </div>
       
      </div>
      <div class="col-lg-9 col-md-9">
        <a href="" class="site-btn header-btn"  (click)="Logout()">Logout</a>
        <nav class="main-menu">
          <ul>
            <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/Home" >Home</a></li>
            <li><a routerLinkActive="active" routerLink="/about">About us</a></li>
            <li><a routerLinkActive="active" routerLink="/cources">Courses</a></li>
            <li><a  routerLinkActive="active" routerLink="/list">List</a></li>
            <li><a routerLinkActive="active" routerLink="/news">News</a></li>
            <li><a  routerLinkActive="active" routerLink="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
