<section class="categories-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Our Course Categories</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris
                scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
        </div>
        </div>
       
            <!-- categorie -->
            <div class="container d-flex flex-wrap justify-content-center">
                <ng-container *ngFor="let item of carditems">
                <div class="col-lg-3 col-sm-6 ml-4  " style="margin-left: 28px;">
                    
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg"
                                style="background-image: url(../../assets/cardimages/{{item.cardimage}})"></div>

                            <div class="ci-text"><!-- <img src="../../assets/cardimages/{{item.cardimage}}"> -->
                                <h5>{{item.title}}</h5>
                                <p>{{item.description}}</p>
                               
                                <span>{{item.cardNumber}}</span>
                         </div>
                            </div>
                    
                </div>
            </ng-container>
            </div>


</section>

            <!-- categorie -->
            <!-- <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg"  style="background-image: url(..//../assets/img2.jpeg)"></div>
                    <div class="ci-text">
                        <h5>Web Design</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>70 Courses</span>
                    </div>
                </div>
            </div> -->
            <!-- categorie -->
            <!-- <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg"  style="background-image: url(..//../assets/img3.jpeg)"></div>
                    <div class="ci-text">
                        <h5>Illustration &amp; Drawing</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>55 Courses</span>
                    </div>
                </div>
            </div> -->
            <!-- categorie -->
            <!-- <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg"  style="background-image: url(..//../assets/img4.jpeg)"></div>
                    <div class="ci-text">
                        <h5>Social Media</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>40 Courses</span>
                    </div>
                </div>
            </div> -->
            <!-- categorie -->
            <!-- <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg"  style="background-image: url(..//../assets/img5.jpeg)"></div>
                    <div class="ci-text">
                        <h5>Photoshop</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>220 Courses</span>
                    </div>
                </div>
            </div> -->
            <!-- categorie -->
            <!-- <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image: url(./../../assets/img6.jpeg);"></div>
                    <div class="ci-text">
                        <h5>Cryptocurrencies</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>25 Courses</span>
                    </div>
                </div>
            </div> -->
    