.footer-section {
    border-top: 3px solid  #008080;
    margin-top: 115px;
}
.spad {
    padding-top: 115px;
    padding-bottom: 115px;
}
/* Footer */
*, ::after, ::before {
    box-sizing: border-box;
}
.footer-warp {
    max-width: 1559px;
    padding: 0 15px;
    margin: 0 auto;
}

.widget-item {
    width: 20%;
    padding: 0 15px;
} 

.widget-item h4 {
    margin-bottom: 30px;
}
.widget-item ul {
    list-style: none;
    padding-top: 30px;
}
.widget-item ul.contact-list li {
    margin-bottom: 27px;
    position: relative;
    padding-left: 10px;
}
a{
 
    text-decoration: none;
    background-color: transparent;
  
}
.footer-newslatter {
    padding-right: 38px;
}
.footer-newslatter input[type=email] {
    height: 57px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 27px;
    float: left;
    border: none;
    font-size: 14px;
    background: #edf4f6;
}

.footer-newslatter .site-btn {
    min-width: 143px;
    margin-bottom: 20px;
} 
.site-btn {
    display: inline-block;
    min-width: 196px;
    text-align: center;
    border: none;
    padding: 15px 10px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    color: #fff;
    cursor: pointer;
    background: #008080;
}
.footer-newslatter p {
    margin-bottom: 0;
    font-weight: 500;
    font-style: italic;
}
p {
    font-size: 14.1px;
    color: #878787;
    line-height: 2.2;
    font-weight: 500;
}
.widget-item ul a {
    color: #878787;
}
.footer-bottom {
    overflow: hidden;
    background: #edf4f6;
    padding: 20px 0;
    margin-top: 50px;
}
.footer-warp {
    max-width: 1559px;
    padding: 0 15px;
    margin: 0 auto;
}
.footer-menu {
    list-style: none;
    float: right;
}
.footer-menu li {
    display: inline;
}
.widget-item {
    width: 20%;
    padding: 0 15px;
}
.widget-item h4 {
    margin-bottom: 30px;
}
.widget-item ul {
    list-style: none;
    padding-top: 30px;
}
.ul, ol {
    padding: 0;
    margin: 0;
}
.widget-item ul.contact-list li {
    margin-bottom: 27px;
    position: relative;
    padding-left: 10px;
}

.widget-item ul li {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
}

.footer-menu {
    list-style: none;
    float: right;
}
.footer-menu li a {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #474747;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
}
.copyright {
    padding-top: 3px;
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #474747;
}