
<section class="hero-section set-bg">
<div class="container d-flex  align-items-center m-auto mt-5">
    <div class="form-box">
        <form class="form" [formGroup]="signupForm">
            <span class="title">Registration</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
                    <input type="text" formControlName="firstname" class="input" placeholder="Firstname" >
                    <small *ngIf="signupForm.controls['firstname'].dirty && signupForm.hasError('required','firstname')" class="text-danger">*firstname is required</small>


                    <input type="text"  formControlName="lastname"  class="input" placeholder="Lastname">
                    <small *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('required','lastname')" class="text-danger">*lastname is required</small>


                    <input type="email"  formControlName="email" class="input" placeholder="Email">
                    <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger">*email is required</small>
                    
                    <input type="text"  formControlName="username" class="input" placeholder="Username">
                    <small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')" class="text-danger">*username is required</small>


                    <input [type]="type" formControlName="password"  class="input" placeholder="Password" autocomplete="off">
                    <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger">*password is required</small>


                    <span class="icon" (click)="hideShow()"><i class="bi {{eyesIcon}}"></i></span>
            </div>
            <button (click)="onSignup()"  type="submit">Sign up</button>
        </form>
        <div >
          
          <p class="mt-3 text-center" >Already have an account? <a routerLink="/login" >Login</a></p>
        </div>
        </div>
</div>
</section>
